---
---

<section id="programma" class="section programma-section">
	<div class="section-content">
		<h2>Programma</h2>
		<ul>
			<li>15:00 Cerimonia</li>
			<li>16:30 Aperitivo</li>
			<li>18:00 Ricevimento</li>
			<li>21:00 Festa</li>
		</ul>
	</div>
</section>

<style>
	.programma-section ul {
		padding-left: 1.25rem;
	}
</style>
